@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Homemade+Apple&display=swap');

:root {
  --bg-color: #262629;
  --link-color: #000;
  --link-hover-color: #000;
  --color-4: #000;
  --color-5: #000;

  --primary-font: sans-serif;
  --secondary-font: serif;
  --main-text-color: #000;

  --white-space: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: url(maxresdefault.jpg) no-repeat right 50%;
    background-size: cover;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Arimo', sans-serif;
}


section {
    max-width: none;
    margin: 0;
}

article {
    margin: 2%;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}


article {
    display: flex;
    flex-flow: column;
}

article > img {
    order: -1;
    align-self: center;
}

article {
    padding: 2rem;
}

article > h3 {
    margin: 1rem 1rem 0;
}

article > p {
    margin: 0.25em 1rem 1rem;
}

main {
    font-family: 'Arimo', sans-serif;
    font-size: 80%;
}

article {
    background-color: white;
}

article > button {
    margin-top: auto;
    background: #B39009;
    color: white;
    padding: 0.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

article > button:hover {
    opacity: 65%;
}

nav {
    background-color: black;
    opacity: 70%;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
    padding: 2% 0 2% 1%;
}

nav a {
    padding: 2%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #A8009D;
}

header {
    padding-left: 0%;
    padding-top: 0%;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 75px;
    text-align: center;
    padding-top: 4%;
    color: white;
    text-shadow: 9px 9px 9px #000000;
}

#subheader {
    font-size: 35px;
    padding-top: 0%;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.veget {
    display: none;
    max-width: 30%;
    margin-top: 5%;
}

.show {
    display: block;
}

.soldout {
    opacity: 15%;
}

.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.modal-content {
    background-color: #ffffff;
    margin: 1em;
    padding: 2.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.modal-image {
    grid-column: 1;
}

.modal-description {
    grid-column: 2;
}

.modal-name {
    grid-column: 1/3;
}

#menu {
    color: #B39009;
    margin-bottom: 0;
    margin-top: 9%;
}

h2 {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    color: white;
    margin: 8% 0 2% 0;
    font-size: 30px;
    grid-column: 1/-1;
}

div.button {
    text-align: center;
    padding-top: 5%;
    opacity: 85%;
}

div.button a {
    text-decoration: none;
    background-color: #A8009D;
    padding: 1.5% 3% 1.5% 3%;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

div.button a:hover {
    background-color: white;
    color: #A8009D;
}

h3 {
    text-align: center;
    padding-bottom: 5%;
    font-size: 20px;
    color: #A8009D;
}

.price,
.discount {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    color: #7D00FF;
}

.price {
    color: #CCA714;
}

.discount span {
    font-size: 30px;
}

.disc {
    text-decoration: line-through;
    opacity: 50%;
}

p {
    font-size: 17px;
}

footer {
    padding-top: 2%;
}

li {
    list-style-type: none;
    max-width: 3%;
}

li:hover {
    animation: scaleIn 1s forwards;
}

@keyframes scaleIn {
    to {
        transform: scale(1.25);
    }
}

ul {
    display: flex;
}

footer nav {
    background-color: transparent;
    opacity: 100%;
}

.sd {
    font-style: italic;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 80px;
    height: 80px;
    z-index: 99;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #A8009D;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    margin: 30px 0px;
    display: none;
    font-weight: bold;
    opacity: 85%;
}

#topBtn:hover {
    background-color: #ffffff;
    color: #A8009D;
}

@media only screen and (max-width:1200px) {
    .modal-content {
        display: block;
    }

    .modal-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        max-width: 5%;
    }
}

@media only screen and (max-width:900px) {
    nav a {
        display: block;
    }

    li {
        max-width: 7%;
    }
}

@media only screen and (max-width:700px) {
    h1 {
        font-size: 40px;
    }

    #subheader {
        font-size: 25px;
    }

    h2 {
        font-size: 25px;
        margin: 10% 0 0 0;
    }

    li {
        max-width: 9%;
    }

    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {
    li {
        max-width: 14%;
    }
    h2 {
        margin: 12% 0 0 0;
    }
}
