@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Homemade+Apple&display=swap');


*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: url(maxresdefault.jpg) no-repeat right 50%;
    background-size: cover;
    height: 100vh;
    background-color: #262629;
    font-family: 'Arimo', sans-serif;
}

/*main {
    max-width: 500px;
    margin: 0 auto;
}

article {
    margin: 1rem 0;
}*/


/*@supports (display: grid) {*/
section{
    max-width: none;
    margin: 0;
}

article {
    margin: 0;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

/*}*/

article {
    display: flex;
    flex-flow: column;
}

article > img {
    order: -1;
    align-self: center;
}

article {
    padding: 2rem;
}

article > h3 {
    margin: 1rem 1rem 0;
}

article > p {
    margin: 0.25em 1rem 1rem;
}

main {
    font-family: 'Arimo', sans-serif;
    font-size: 80%;
}

article {
    border: 1px solid black;
    background-color: white;
}

article > button {
    margin-top: auto;
    background: #B39009;
    color: white;
    padding: 0.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}

article > button:hover {
    opacity: 65%;
    /*border: solid #752227 2px;*/
}

nav {
    background-color: black;
    opacity: 70%;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
    padding: 2% 0 2% 1%;
    /*position:fixed;*/
}

nav a {
    padding: 2%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #A8009D;
}

header {
    padding-left: 0%;
    padding-top: 0%;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 75px;
    text-align: center;
    padding-top: 5%;
    color: white;
    text-shadow: 5px 7px 5px #000000;
}
#subheader{
    font-size: 30px;
    padding-top: 0%;
}
img {
    max-width: 100%;
    height: auto;
}

.veget {
    display: none;
    max-width: 30%;
    margin-top: 5%;
}
.show{
    display:block;
}
.soldout{
    /*background-color: #C73A41;*/
    opacity: 15%;
}

.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #ffffff;
    /*border: 1px solid #7c1f17;*/
    margin: 1em;
    padding: 3em;
    display: grid;
    grid-template-columns: 2;
    column-gap: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.modal-image{
    grid-column: 1;
}
.modal-description{
    grid-column: 2;
}
.modal-name{
    grid-column: 1/3;
}

#menu {
    color: black;
    text-shadow: 5px 7px 5px #ffffff;
}

h2 {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    color: white;
    margin: 8% 0 2% 0;
    font-size: 30px;
    grid-column:1/-1;
}

div.button {
    text-align: center;
    padding-top: 5%;
    opacity: 85%;
}

div.button a {
    text-decoration: none;
    background-color: #A8009D;
    padding: 1.5% 3% 1.5% 3%;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

div.button a:hover {
    background-color: white;
    color: #A8009D;
}

h3 {
    text-align: center;
    padding-bottom: 5%;
    font-size: 20px;
    color: #A8009D;
}
.price, .discount {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    color: #7D00FF;
}
.price{
    color: #CCA714;
}
.discount span {
    font-size: 30px;
}
.disc{
    text-decoration: line-through;
    opacity: 50%;
}
p {
    font-size: 15px;
}

footer {
    padding-top: 2%;
}

/*#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 2px black;
    z-index: 99;

    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #ffffff;
    color: #0a0c19;
    cursor: pointer;
    font-size: 18px;
    margin: 30px 0px;
    display: none;
    font-weight: 900;
}*/

@media only screen and (max-width:700px) {
    h1 {
        font-size: 40px;
    }


    nav a {
        display: block;
    }
}
